<div class="header">
    <div style="float:left;margin-left:20px;">
        <h2>上海声典网络科技有限公司</h2>
    </div>
    <ul style="float:right;margin-right:20px;">
        <li class="header-li">
            <i class="fa fa-sign-out" style="cursor:pointer;" (click)='loginOut()'></i>
        </li>
    </ul>
    <div style="clear:both"></div>
</div>


<div class="menu" [@menuState]="state">
    <i class="fa fa-bars bars" (click)="changeMenuWidth()"></i>
    <p-accordion>
        <p-accordionTab *ngFor="let item of menus ;let i=index;" [selected]="i == 0">
            <p-header>
                <i class="item-url fa" [ngClass]="item.icon" [@imgState]="state"></i>
                <span>{{item.name}}</span>
            </p-header>
            <ul>
                <div *ngIf="!pTooltipIf">
                    <li *ngFor="let children of item.children">
                        <i class="item-url fa" [ngClass]="children.icon" [@imgState]="state"></i>
                        <a routerLink="{{item.path}}/{{children.path}}" routerLinkActive='active-link'>{{children.name}}</a>
                    </li>
                </div>
                <div *ngIf="pTooltipIf">
                    <li *ngFor="let children of item.children">
                        <i class="item-url fa" [ngClass]="children.icon" [@imgState]="state"></i>
                        <a routerLink="{{item.path}}/{{children.path}}" routerLinkActive='active-link' pTooltip="{{children.name}}"></a>
                    </li>
                </div>
            </ul>
        </p-accordionTab>
    </p-accordion>
</div>


<div class="router" [@routerState]="state">
    <router-outlet></router-outlet>
</div>