<div style="margin-bottom:5px;">
    <c-button label="导出Excel" icon="fa-file-excel-o" (click)="dt.exportCSV()"></c-button>
</div>
<c-dataTable #dt [value]="users" [loading]="loading" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
    selectionMode="single" (onRowSelect)="handleRowSelect($event)" [editable]="true">
    <c-header><strong>用户列表</strong></c-header>
    <c-column field="UserId" header="用户编号"></c-column>
    <c-column field="UserName" header="用户名"></c-column>
    <c-column field="Name" header="姓名"></c-column>
    <c-column field="Password" header="密码"></c-column>
    <c-column field="Sex" header="性别"></c-column>
    <c-column field="Birth" header="生日"></c-column>
    <c-column field="Status" header="状态"></c-column>
    <c-column header="操作"></c-column>
</c-dataTable>