<table style="height:100%;width:100%;">
    <tr>
        <td width="33%">
            <div class="ui-g">
                <label for="">用户名：</label>
                <c-inputText [(ngModel)]='user.Name'></c-inputText>
            </div>
        </td>
        <td width="33%">
            <div class="ui-g">
                <label for="">密　码：</label>
                <c-password [(ngModel)]='user.Password'></c-password>
            </div>
        </td>
        <td>
            <div class="ui-g">
                <label for="">性　别：</label>
                <c-radioButton [(ngModel)]='user.Sex' value="0" label="男"></c-radioButton>
                <c-radioButton [(ngModel)]='user.Sex' value="1" label="女"></c-radioButton>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="ui-g">
                <label for="">生　日：</label>
                <c-calendar [(ngModel)]='user.Birth' showButtonBar='true' readonlyInput='true' showIcon='true'></c-calendar>
            </div>
        </td>
        <td>
            <div class="ui-g">
                <label for="">状　态：</label>
                <c-checkbox [(ngModel)]='user.Status' binary="true" label="有效"></c-checkbox>
            </div>
        </td>
        <td>
            <div class="ui-g">
                <label for="">住　址：</label>
                <c-dropdown [(ngModel)]='user.Addr' [options]='cities' [filter]='true' filterBy='label,value.name' [style]="{'width':'100px'}"></c-dropdown>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="ui-g">
                <label for="">备　注：</label>
                <c-inputTextArea [(ngModel)]='user.Note' [rows]="5" [cols]="50" autoResize="true"></c-inputTextArea>
            </div>
        </td>
        <td></td>
        <td></td>
    </tr>
</table>

<div class="float-right">
    <c-button label="保存" icon="fa-check" (click)="save()"></c-button>
    <c-button label="退出" icon="fa-window-close" (click)="close()"></c-button>
</div>