<div class="ui-g">
    <div class="ui-g-6">
        <c-panel title="Input" [toggleable]="true">
            <div class="ui-g">
                <label for="">用户名：</label>
                <c-inputText [(ngModel)]='user.Name'></c-inputText>
            </div>
            <div class="ui-g">
                <label for="">密　码：</label>
                <c-password [(ngModel)]='user.Password'></c-password>
            </div>
            <div class="ui-g">
                <label for="">性　别：</label>
                <c-radioButton [(ngModel)]='user.Sex' value="0" label="男"></c-radioButton>
                <c-radioButton [(ngModel)]='user.Sex' value="1" label="女"></c-radioButton>
            </div>
            <div class="ui-g">
                <label for="">状　态：</label>
                <c-checkbox [(ngModel)]='user.Status' label="有效"></c-checkbox>
            </div>
            <div class="ui-g">
                <label for="">住　址：</label>
                <c-dropdown [(ngModel)]='user.Addr' [options]='cities' [filter]='true' filterBy='label,value.name'></c-dropdown>
            </div>
            <div class="ui-g">
                <label for="">电　话：</label>
                <c-inputMask [(ngModel)]='user.Tel' mask="(999) 99999999" placeholder="(999) 99999999"></c-inputMask>
            </div>
            <div class="ui-g">
                <label for="">备　注：</label>
                <c-inputTextArea [(ngModel)]='user.Note' [rows]="5" [cols]="50" autoResize="true"></c-inputTextArea>
            </div>

            <fieldset>
                <legend>用户信息</legend>
                <div>用户名：{{user.Name}}</div>
                <div>密　码：{{user.Password}}</div>
                <div>性　别：{{user.Sex=="0"?"男":"女"}}</div>
                <div>住　址：{{user.Addr}}</div>
                <div>电　话：{{user.Tel}}</div>
                <div>状　态：{{user.Status}}</div>
                <div>备　注：{{user.Note}}</div>
            </fieldset>
        </c-panel>

        <c-panel title="Button" [toggleable]="true">
            <div class="ui-g">
                <c-button label="primary" class="ui-button-primary"></c-button>
                <c-button label="secondary" class="ui-button-secondary"></c-button>
                <c-button label="success" class="ui-button-success"></c-button>
                <c-button label="info" class="ui-button-info"></c-button>
                <c-button label="warning" class="ui-button-warning"></c-button>
                <c-button label="danger" class="ui-button-danger"></c-button>
            </div>
            <div class="ui-g">
                <c-button label="click"></c-button>
                <c-button label="click" icon="fa-check" iconPos="left"></c-button>
                <c-button label="click" icon="fa-check" iconPos="right"></c-button>
                <c-button icon="fa-check"></c-button>
                <c-button label="click" icon="fa-check" [disabled]='true'></c-button>
            </div>
            <div class="ui-g">
                <c-splitButton label="Save" icon="fa-check" (onClick)="save()" [model]="items"></c-splitButton>
            </div>
        </c-panel>

        <c-panel title="Data" [toggleable]="true">

        </c-panel>
    </div>

    <div class="ui-g-6">
        <c-panel title="Panel" [toggleable]="true">
            <c-fieldset legend="Header" [toggleable]="true">
                this is my content.
            </c-fieldset>
        </c-panel>

        <c-panel title="Overlay" [toggleable]="true">
            <c-button label="confirm" icon="fa fa-check" iconPos="left" (click)="confirm()"></c-button>
            <c-button label="delete" icon="fa fa-trash" iconPos="left" (click)="delete()"></c-button>
            <c-button label="show dialog" (click)="showDialog()"></c-button>
        </c-panel>

        <c-panel title="File" [toggleable]="true">
            File
        </c-panel>

        <c-panel title="Menu" [toggleable]="true">
            <img #img src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/logo_white_fe6da1ec.png" width="270" height="129"
                alt="百度" />
            <c-contextMenu [target]="img" [model]="contextMenus"></c-contextMenu>
        </c-panel>

        <c-panel title="Charts" [toggleable]="true">
            <c-chart type="bar" [data]="barData"></c-chart>
            <c-chart type="line" [data]="lineData"></c-chart>
            <c-chart type="pie" [data]="pieData"></c-chart>
            <c-chart type="doughnut" [data]="doughnutData"></c-chart>
            <c-chart type="polarArea" [data]="polarAreaData"></c-chart>
            <c-chart type="radar" [data]="radarData"></c-chart>
        </c-panel>

        <c-panel title="Messages" [toggleable]="true">
            <c-button label="show messages" (click)="showMessages()"></c-button>
            <c-button label="show growl" (click)="showGrowl()"></c-button>
            <c-messages [(value)]="msgs"></c-messages>
            <c-growl [(value)]="growls"></c-growl>
        </c-panel>

        <c-panel title="Multimedia" [toggleable]="true">
            Multimedia
        </c-panel>

        <c-panel title="DragDrop" [toggleable]="true">
            DragDrop
        </c-panel>

        <c-panel title="Misc" [toggleable]="true">
            Misc
        </c-panel>
    </div>
</div>

<c-confirmDialog></c-confirmDialog>

<c-dialog header="新增患者" [(visible)]="display" modal="modal" width="1024" height="768" [responsive]="true">
    <c-content>
        <p>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. His
            beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
            Through Michael's life the nature of the family business becomes clear. The business of the family is just like
            the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever
            anything stands against the good of the family.</p>
    </c-content>
    <c-footer>
        <c-button label="二级弹窗" icon="fa fa-car" (click)="childDialogDisplay=true"></c-button>
        <c-button label="保存" icon="fa fa-save" (click)="save()"></c-button>
        <c-button label="取消" icon="fa fa-window-close" (click)="cancel()"></c-button>
    </c-footer>
</c-dialog>

<c-dialog header="二级弹窗" [(visible)]="childDialogDisplay" modal="modal" width="800" height="600" [responsive]="true">
    <c-content>
        <p>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. His
            beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
            Through Michael's life the nature of the family business becomes clear. The business of the family is just like
            the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever
            anything stands against the good of the family.</p>
    </c-content>
    <c-footer>
        <c-button label="退出" icon="fa fa-window-close" (click)="childDialogDisplay=false"></c-button>
    </c-footer>
</c-dialog>